*{margin: 0; padding: 0;}

@font-face {
    font-family: bnt;
    src: url(../fonts/BebasNeueThin.otf);

}
@font-face {
    font-family: ml;
    src: url(../fonts/Montserrat-Light.otf);

}
@font-face {
    font-family: bnb;
    src: url(../fonts/BebasNeueBold.otf);

}



.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   color: #000;
   font-family: bnb;
   font-size: 18px;
}

.navbar-brand {
   font-size: 36px;
}

/*nav a { color: #fff }*/

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent;
}

.img-responsive{
  min-height : 5000;
  min-width : 5000;
}

.img-circle{
  padding:15px;
}

.navbar-fixed-top.scrolled {
  background-color: #000 !important;
  transition: background-color 200ms linear;
}

hr {
    max-width: 50px;
    border-color: #fff;
    border-width: 3px;
}

@media(min-width:768px) {
    .navbar {
       background-color: transparent;
       background: transparent;
       border-color: transparent;
       color: #3d3d3d;
       font-family: bnb;
       font-size: 18px;
    }

    .navbar-brand {
       font-size: 36px;
    }

    /*nav a { color: #fff }*/
    /*
    .navbar-default .nav > li.active>a,
    .navbar-default .nav>li.active>a:focus {
        color: #f05f40!important;
        background-color: transparent;
    }*/

    .img-responsive{
      min-height : 5000;
      min-width : 5000;
    }

    .img-circle{
      padding:15px;
    }

    .navbar-fixed-top.scrolled {
      background-color: #000 !important;
      transition: background-color 200ms linear;
    }

    hr {
        max-width: 50px;
        border-color: #fff;
        border-width: 3px;
    }
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #3d3d3d;
    background: url(../img/background.gif) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-animation: background 0.1s forwards;
    -webkit-animation-delay: 4.1s;
    animation: background 0.1s forwards;
    animation-delay: 4.1s;
}
/*
@-webkit-keyframes background {
  0% {background: transparent} 
  100% {background: transparent}
}

@keyframes background {
  0% {background: transparent}  
  100% {background: transparent}
}*/



/*img .bg {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #000;
    background: url(../img/background.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-animation: bg 4.1s forwards;
    animation: bg 4.1s forwards;
}

@-webkit-keyframes bg {
  0% {opacity:0} 
  99% {opacity:0}
  100% {opacity:1}
}

@keyframes bg {
  0% {opacity:0} 
  99% {opacity:0} 
  100% {opacity:1}
}*/
/*
@-webkit-keyframes background {
  from {background: 'url(../img/background.gif)'} 
  to {background:  'url(../img/background.jpg)'}
}

@keyframes background {
  from {background: 'url(../img/background.gif)'} 
  to {background: 'url(../img/background.jpg)'}
}*/

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(0,0,0,1);
}

header .header-content .header-content-inner h3 {
    color: rgba(0,0,0,1);
}

header .header-content .header-content-inner a {
    color: rgba(0,0,0,1);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 45%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        color:transparent;
        max-width: 80%;
        font-size: 18px;
    }
}




header .header-content .nothing {
  -webkit-animation: nothing;
  -webkit-animation-duration: 8s;
  animation: nothing;
  animation-duration: 8s;
}

@-webkit-keyframes nothing {
  0% {opacity: 0} 
  50% {opacity: 0}
  100% {opacity: 0.7}
}

@keyframes nothing {
  0% {opacity: 0} 
  50% {opacity: 0}
  100% {opacity: 0.7}
}



section {
    position: relative;
    width: 100%;
    /*min-height: auto;*/
    text-align: center;
    /*color: #fff;*/
    font-family: bnt;
    color: #fff;
    background-color: #fff;
}




section a {
    color: #fff;
}
section a:hover {
    color: #000;
}

section .section-content h1 {
    font-family: bnt;
    font-size:60px;
    font-weight: bold;
}

section .section-content h2 {
    font-family: ml;
    font-size:28px;
    font-weight: bold;
    font-color: #D9B310;
}

section .section-content p {
    font-family: ml;
    font-size:14px;
}

/*section .section-content .section-heading{
    font-color: #000;
}*/

/*@media(min-width:768px) {
    section {
        position: relative;
        width: 100%;
        text-align: center;
        font-family: bnt;
        font-color: #000;
        background-color: #fff;
    }

    section .section-content h1 {
        font-family: bnt;
        font-size:60px;
        font-weight: bold;
    }

    section .section-content h2 {
        font-family: ml;
        font-size:28px;
        font-weight: bold;
        font-color: #D9B310;
    }

    section .section-content p {
        font-family: ml;
        font-size:14px;
    }

    section .section-content {
        font-color: #000;
    }
}*/

.modal-header {
    font-size:28px;
    font-color: #D9B310;
}

.modal-body {
    font-size:14px;
}

.modal-footer {
    font-size:14px;
}


article {
	position: relative;
	text-align: center;
	/*min-height: auto;*/
    background-color: #0B3C5D;
    /*font-size: 12px;*/
    /*position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../img/article.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
}

article h1 {
    font-size: 18px;
}


/*article .article-content {
    position: relative;
    width: 50%;
    padding: 100px 15px;
    text-align: center;
}


article .article-content .article-header {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

article .article-content .article-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

article .article-content .article-content-inner hr {
    margin: 30px auto;
}

article .article-content .article-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}*/
/*
@media(min-width:768px) {
    article {
        min-height: 500px;
    }
}
*/
/*
    article .article-content {
        position: absolute;
        top: 55%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    article .article-content .article-header {
        position: absolute;
        top: 7%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    article .article-content .article-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    article .article-content .article-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}


/*.nav-color:hover {
	background-color: black;
	color: white;
}*/



.navbar-default {
    border-color: rgba(34,34,34,0);
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #000;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #D1D14D;
    /*background-color:  #787878;*/
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #D1D14D!important;
    background-color:  #787878;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color:  #787878;
}


/*SPECIFIC SECTION STUFF*/

.about-section {
    background: #D1D14D;
}

.speaker-section {
    background: #77C9D4;
}

.register-section {
    background: #D1D14D;
}


.donate-section {
    background: #77C9D4;
}

.contact-section {
    background: #D1D14D;
}

.about-section .slideshow-container {
    padding-bottom: 20px;
}

.about-section .slideshow-container p{
    font-size: 18px;
}

.speaker-section .section-content{
    padding-top: 5px;
    padding-bottom: 40px;
}

.speaker-section .section-content .speakers-two{
    padding-top: 50px;
}

.speaker-section .section-content .more-speakers{
    padding-top: 50px;
}


