*{margin: 0; padding: 0;}

@font-face {
    font-family: bnt;
    src: url(../fonts/BebasNeueThin.otf);

}
@font-face {
    font-family: ml;
    src: url(../fonts/Montserrat-Light.otf);

}
@font-face {
    font-family: bnb;
    src: url(../fonts/BebasNeueBold.otf);

}


header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #3d3d3d;
    background:url(../img/background.png) no-repeat center center;
    /*background-size: cover;*/
    /*background: url(../img/background.png) no-repeat center center;*/
    /*background-size: 500px, 1300px, auto;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*header .bg {
    position: static;
    width: 100%;
    min-height: auto;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}*/

header .bg img{
    opacity: rgba(0,0,0,1);
    width: 100%;
}


.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   color: #000;
   font-family: bnb;
   font-size: 36px;
   /*text-shadow: 1px 1px #000;*/
}

.navbar-static {
    background-color: #fff!important;
    box-shadow: 0 0 1px 1px  #ddd
}

.navbar-brand {
   font-size: 36px;
}

/*nav a { color: #fff }*/

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent;
}

.img-responsive{
  min-height : 5000;
  min-width : 5000;
}

.img-circle{
  padding:15px;
}

.navbar-fixed-top.scrolled {
  background-color: #000 !important;
  transition: background-color 200ms linear;
}

hr {
    max-width: 50px;
    border-color: #fff;
    border-width: 3px;
}

@media(min-width:768px) {
    .navbar {
       background-color: transparent;
       background: transparent;
       border-color: transparent;
       color:#3B7EA1;
       font-family: bnb;
       font-size: 30px;
    }

    .navbar-brand {
       font-size: 36px;
    }

    /*nav a { color: #fff }*/
    /*
    .navbar-default .nav > li.active>a,
    .navbar-default .nav>li.active>a:focus {
        color: #f05f40!important;
        background-color: transparent;
    }*/

    .img-responsive{
      min-height : 5000;
      min-width : 5000;
    }

    .img-circle{
      padding:15px;
    }

    .navbar-fixed-top.scrolled {
      background-color: #000 !important;
      transition: background-color 200ms linear;
    }

    hr {
        max-width: 50px;
        border-color: #fff;
        border-width: 3px;
    }
}


/*
@-webkit-keyframes background {
  0% {background: transparent} 
  100% {background: transparent}
}

@keyframes background {
  0% {background: transparent}  
  100% {background: transparent}
}*/



/*img .bg {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #000;
    background: url(../img/background.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-animation: bg 4.1s forwards;
    animation: bg 4.1s forwards;
}

@-webkit-keyframes bg {
  0% {opacity:0} 
  99% {opacity:0}
  100% {opacity:1}
}

@keyframes bg {
  0% {opacity:0} 
  99% {opacity:0} 
  100% {opacity:1}
}*/
/*
@-webkit-keyframes background {
  from {background: 'url(../img/background.gif)'} 
  to {background:  'url(../img/background.jpg)'}
}

@keyframes background {
  from {background: 'url(../img/background.gif)'} 
  to {background: 'url(../img/background.jpg)'}
}*/

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(0,0,0,1);
}

header .header-content .header-content-inner h3 {
    color: rgba(0,0,0,1);
}

header .header-content .header-content-inner a {
    color: rgba(0,0,0,1);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 45%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        color:transparent;
        max-width: 80%;
        font-size: 18px;
    }
}




/*header .header-content .nothing {
  -webkit-animation: nothing;
  -webkit-animation-duration: 8s;
  animation: nothing;
  animation-duration: 8s;
}

@-webkit-keyframes nothing {
  0% {opacity: 0} 
  50% {opacity: 0}
  100% {opacity: 0.7}
}

@keyframes nothing {
  0% {opacity: 0} 
  50% {opacity: 0}
  100% {opacity: 0.7}
}*/



section {
    position: relative;
    width: 100%;
    /*min-height: auto;*/
    text-align: center;
    /*color: #fff;*/
    font-family: bnt;
    color: #fff;
    background-color: #fff;
}




section a {
    color: #fff;
}
section a:hover {
    color: #000;
}

section .section-content h1 {
    font-family: bnt;
    font-size:60px;
    font-weight: bold;
}

section .section-content h2 {
    font-family: ml;
    font-size:28px;
    font-weight: bold;
    font-color: #D9B310;
}

section .section-content p {
    font-family: ml;
    font-size:18px;
}

/*section .section-content .section-heading{
    font-color: #000;
}*/

/*@media(min-width:768px) {
    section {
        position: relative;
        width: 100%;
        text-align: center;
        font-family: bnt;
        font-color: #000;
        background-color: #fff;
    }

    section .section-content h1 {
        font-family: bnt;
        font-size:60px;
        font-weight: bold;
    }

    section .section-content h2 {
        font-family: ml;
        font-size:28px;
        font-weight: bold;
        font-color: #D9B310;
    }

    section .section-content p {
        font-family: ml;
        font-size:14px;
    }

    section .section-content {
        font-color: #000;
    }
}*/

.modal-header {
    font-size:28px;
    font-color: #D9B310;
}

.modal-header p {
    font-size: 12px;
    font-color: #D9B310;
}

.modal-body {
    font-size:14px;
}

.modal-body a {
    color: #000;
}

.modal-footer {
    font-size:14px;
}


article {
    position: relative;
    text-align: center;
    /*min-height: auto;*/
    background-color: #0B3C5D;
    /*font-size: 12px;*/
    /*position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../img/article.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
}

article h1 {
    font-size: 18px;
}


/*article .article-content {
    position: relative;
    width: 50%;
    padding: 100px 15px;
    text-align: center;
}


article .article-content .article-header {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

article .article-content .article-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

article .article-content .article-content-inner hr {
    margin: 30px auto;
}

article .article-content .article-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}*/
/*
@media(min-width:768px) {
    article {
        min-height: 500px;
    }
}
*/
/*
    article .article-content {
        position: absolute;
        top: 55%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    article .article-content .article-header {
        position: absolute;
        top: 7%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    article .article-content .article-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    article .article-content .article-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}


/*.nav-color:hover {
    background-color: black;
    color: white;
}*/


/*.navbar .navbar-default{*/
    /*background color: #000;*/
/*}*/

.navbar-default {
    border-color: transparent;
    background-color: transparent;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

/*uccc2018 color*/

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-weight: 700;
    color: #111;
    /*background-color: ;*/
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #267f7a;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-weight: 700;
    color: #111;
}

/*hovered section*/

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #267f7a;
    /*background-color:  #787878;*/
}

/*text and outline of current section*/

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #fff!important;
    border-color: #fff;
    background-color:  #3B7EA1;
}


/*idk what this does*/
.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color:  #267f7a;
    color: #fff!important;
}


/*SPECIFIC SECTION STUFF*/

.about-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #eee;
    color: #000;
}

.about-section a {
    color: #000;
}

.about-section .text a {
    color: #003262;
    /*filter: blur(0px);*/
    /*text-shadow: 0px 0px transparent;*/
    font-size: 20px;
    padding-bottom: 2px;
}

.speaker-section {
    /*padding-top: 50px;
    padding-bottom: 50px;*/
    box-shadow: 0 0 1px 1px  #ddd;
    background: #fff;
    color: #000;
}

.speaker-section a {
    color: #000;
}

.schedule-section {
    /*padding-top: 50px;
    padding-bottom: 50px;*/
    box-shadow: 0 0 1px 1px  #ddd;
    background: #fff;
    color: #000;
}

.schedule-section a {
    color: #000;
}

.register-section {
    /*padding-top: 40px;*/
    /*padding-bottom: -80px;*/
    box-shadow: 0px 0px 1px 1px #aaa;
    background: #eee;
    color: #000;
}

.register-section a {
    color: #000;
}


.register-section .panel{
    box-shadow: 0 0 1px 1px  #000;
    background: #ddd;
    color: #000;
}


.donate-section {
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 1px 1px #aaa;
    background: #fff;
    color: #000;
}

.donate-section .section-heading {
    padding-bottom: 25px;
}

.donate-section p {
    padding-bottom: 25px;
}


.donate-section a {
    color: #000;
}

.contact-section {
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 1px 1px #aaa;
    background: #eee;
    color: #000;
}

.contact-section .section-heading {
    padding-bottom: 25px;
}

.contact-section p {
    padding-bottom: 25px;
}

.contact-section a {
    color: #000;
}

.about-section .slideshow-container {
    padding-bottom: 20px;
}

.about-section .slideshow-container p{
    font-size: 18px;
}

.speaker-section .section-content{
    padding-top: 10px;
    padding-bottom: 40px;
}

.speaker-section .section-content .speakers-two{
    padding-top: 50px;
}

.speaker-section .section-content .more-speakers{
    padding-top: 50px;
}

.register-section .section-content{
    padding-top: 10px;
    padding-bottom: 650px;
}

.register-section .section-content .register-buttons {
    padding-top: 110px;
    padding-left: 300px;
    padding-right: 300px;
}

/*.register-section .section-content .register-buttons .reg-sec {
    border-style: ridge;
}*/     

.donate-section .section-content{
    padding-top: 10px;
    padding-bottom: 20px;
}

.contact-section .section-content{
    padding-top: 10px;
    padding-bottom: 20px;
}



a.register-button {
    color: #fff;
    background-color: #3B7EA1;
    padding-bottom: 10px;
    padding: 5px 10px 5px 10px;
    font-family: bnb;
    font-size: 24px;
}
/* accordion */
button.accordion {
    background-color: #FDB515;
    box-shadow: 0 0 1px 1px  #ddd;
    font-size: 50px;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    padding: 10px;
    margin-bottom: 20px;

}

 /*Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #C4820E;

}

/* Style the accordion panel. Note: hidden by default 
*/
div.panel {
    padding: 0 0px;
    background-color: white;
    color: #000;
    max-height: 200;
    overflow: hidden;
    transition: max-height 1.0s ease-out;
    
}

.panel-title a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
}

/*div.panel.active {
    padding: 0 18px;
    background-color: white;
    color: #000;
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.0s ease-out;
    margin-top: -20px;
    margin-bottom: 20px;
    
}*/
/*
@-webkit-keyframes no-height {
  from {max-height: : 0} 
  to {max-height: 1}
  f
}

@keyframes no-height {
  from {opacity: 0} 
  to {opacity: 1}
}
*/
.reg-sec h3{
    font-size: 32px;
    font-family: bnb;
}
/*
button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+)
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) 
}
*/

body.modal-open {
    overflow: visible;
}


.modal {
    color: #000;
    font-family: ml;
}

.modal a{
    color: #444;
}

.modal .modal-header {
    font-family: bnb;
    background-color: #fff;
}

.modal .modal-header h4{
    font-size: 36px;
    font-family: bnb;
}

.modal .modal-header p {
    font-size: 14px;
    font-family: ml;
}

.modal .modal-body {
    background-color: #fff;
}

.modal .modal-body ul{
    margin: 10px;
}


.modal .modal-footer {
    background-color: #fff;
}

.modal .modal-close {
    background-color: #fff;
    border-color: #aaa;
    color: #000;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
 }