.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { color: #000 }

.img-responsive{
  min-height : 5000;
  min-width : 5000;
}

.img-circle{
  padding:15px;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
